
<%= render 'header' %>

<h3>Show Tag</h3>

<ul>
  <li>id: <%= @tag.id %></li>
  <li>name: <%= @tag.name %></li>
</ul>

<p>
  <%= link_to "Edit", edit_tag_path(@tag) %> |
  <%= link_to 'Destroy', @tag, method: :delete, data: { confirm: 'Are you sure?' } %>
</p>

<%= render 'footer' %>
