<!DOCTYPE html>
<html>
  <head>
    <title>Messenger</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Messanger with RAILSINGER-Z</h1>
    <p>
      <%= link_to "Tags", '/tag' %> |
      <%= link_to "Messages", '/message' %> |
      <%= Time.now %>
    </p>
    <hr>

    <%= yield %>
  </body>
</html>
