
<%= render 'header' %>

<h3>Listing Tags (<%= @tags.count%>)</h3>

<table>

<% @tags.each do |i| %>
  <tr>
    <td><%= i.name %></td>
    <td>(Messages <%= i.messages.count %>) |</td>
    <td>
      <%= link_to "Show", tag_path(i) %> |
      <%= link_to "Edit", edit_tag_path(i) %> |
      <%= link_to 'Destroy', i,  method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>

<br>
<%= link_to "New", new_tag_path %>
